<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Utilities.ParaListener"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
       <class name="TestCasefolder.Para_TC001"/>
        <class name="TestCasefolder.Para_TC002"/>
      <class name="TestCasefolder.ParaBaseClass"/>
      <class name="TestCasefolder.Para_TC003"/>
     
   
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
